input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  ::ng-deep {
    .mat-mdc-dialog-container .mdc-dialog__surface {
      background-color: white;
    }
  }
  .blue-placeholder {
    color: #c2185b !important;
  }
  .red-text {
    color: #c2185b !important;
  }
  