<div class="container">
  <div class="row mt-2">
    <div class="col">Hello, Fullano</div>
    <div class="col d-flex justify-content-end">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="notifications"
      ></mat-icon>
    </div>
  </div>
  <mat-card style="background-color: white" class="mt-2">
    <div class="row p-1">
      <h4>Your Balance</h4>
    </div>
    <div class="row p-1">
      <h2>R$2.000,00</h2>
    </div>
  </mat-card>
</div>
