<div class="container fixed-bottom pb-2">
  <div class="row">
    <div class="col d-flex justify-content-center">
        <button mat-fab aria-label="Example icon button with a delete icon" routerLink="/home">
            <mat-icon>home</mat-icon>
          </button>
    </div>
    <div class="col d-flex justify-content-center">
        <button mat-fab aria-label="Example icon button with a delete icon" routerLink="/cashier">
            <mat-icon>attach_money</mat-icon>
          </button>
    </div>
    <div class="col d-flex justify-content-center">
        <button mat-fab aria-label="Example icon button with a delete icon" routerLink="/product">
            <mat-icon>inventory_2</mat-icon>
          </button>
    </div>
    <div class="col d-flex justify-content-center">
        <button mat-fab aria-label="Example icon button with a delete icon" routerLink="/event">
            <mat-icon>calendar_month</mat-icon>
          </button>
    </div>
  </div>
</div>
